@import "fonts/stylesheet.css";
@import "fonts/style.css";

h1, h2, h3{
text-align: center !important;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Vegur Light';
}

#header{
    background-color: #7aad95;
    height: 155px;
    font-size: 28px;
    padding: 1.5% 1% 1% 30.5%;   
    margin: 0px;
    
}

#header img{
    float:left;
    height: 115px;
    width: 115px;
    padding: 25px 1px 0px 0px; /*t r b l*/
    margin: 0px;
}

#header h1{
    font-family: 'quantifybold';
    padding: 2% 1% 1% 0%;
    width: 680px;
}

nav{
    background-color: #7aad95;
    height: 20%;
    padding-bottom: 0.5%;
    text-align: center;
}

nav ul{
    margin: 0px auto;
    list-style-type: none;
    padding: 0.001% 1% 2.5% 6.15%;
    display: inline-block;
}

nav ul li{
    font-size: 22px;
    padding: 0px 10px;
    display: inline-block;
}

nav ul li a{
    color: #fafafc;
    text-decoration: none;
}

nav ul li a:hover{
    color: #20383f;
    font-weight: bold;
}

nav ul li span{
    color: #20383f; 
}

nav img{
    height: 15px;
    width: 100%;
}

nav h2{
    padding: 1% 1% 1% 6%;
    font-size: 30px;
    text-align: center;
    
}

#content{
    background-color:#20383f;
    background-image: url(img/circuit-board-0.png);
    height: 100%;
    color: #fafafc;
    padding-top: 3.5%;
    font-family: 'Vegur Light';
}

#content img{
    height: 30%;
    width: 30%;
    padding: 0.5% 0.5% 3.5% 37.30%;
}

#content h2{
    padding: 0% 0.5% 0% 6%;
    text-align: center;
    margin: 0px;
}

#text-backgrnd{
    background-color: #20383f;
    padding: 9.5px 9.5px;
    width: 600px;
    height: 200px;
}

#footer{
    color: #20383f;
    height: 100%;
    background-image: url(img/footer.png);
    padding: 0.25px 0.25px 0.25px 380px;
}
#footer h3{
    margin: 0px;
    padding: 9px;
}

@media(max-width: 1008px) and (min-width: 600px){
    #header h1{
        float:none;
        text-align:center;
        width:100%;
    }

    #header{
        padding-bottom: 40px;
    }

    nav ul{
        padding-top: 40px;
        padding-bottom: 40px;
    }

}
