#header{
    background-color: #7aad95;
    height: 100%;
}

nav{
    background-color: #7aad95;
    height: 100%
}
nav a{
    color: #fafafc;
    text-decoration: none;
}

nav span{
    color: #20383f; 
    font-weight: bold;
}

#content{
    background-color:#20383f;
    height: 100%;
    color: #fafafc;
}

#footer{
    color: #20383f;
    background-color: #7aad95;
    height: 100%;
}

