@import "../fonts/stylesheet.css";
@import "../fonts/style.css";

h1, h2, h3{
text-align: center !important;
}

body{
    margin: 0px;
    padding: 0px;
    position: absolute !important;
    font-family: 'Vegur Light';
}

#page-wrap{
    position: relative !important;
}

#header{
    background-color: #7aad95;
    height: 155px;
    font-size: 28px;
    padding: 1.5% 1% 1% 29%;   
    margin: 0px;
    
}

#header img{
    float:left;
    height: 115px;
    width: 115px;
    padding: 25px 1px 0px 0px; /*t r b l*/
    margin: 0px;
}

#header h1{
    font-family: 'quantifybold';
    padding: 2% 1% 1% 0%;
    min-width: 67%;
    width: 67%;
}

nav{
    background-color: #7aad95;
    height: 20%;
}

nav ul{
    margin: 0px auto;
    list-style-type: none;
    padding: 0.001% 1% 2.5% 33.75%;
    align-items: center;
}

nav ul li{
    display: inline-block;
    font-size: 22px;
    padding: 0px 10px;
}

nav ul li a{
    color: #fafafc;
    text-decoration: none;
}

nav ul li a:hover{
    color: #20383f;
    font-weight: bold;
}

nav ul li span{
    color: #20383f; 
}

nav img{
    height: 15px;
    width: 100%;
}

nav h2{
    padding: 1% 1% 1% 6%;
    font-size: 30px;
    text-align: center;
    
}

#content{
    background-color:#20383f;
    height: 100%;
    color: #fafafc;
    padding-top: 3.5%;
    font-family: 'Vegur Light';
}

#content img{
    height: 30%;
    width: 30%;
    padding: 0.5% 0.5% 3.5% 37.30%;
}

#content h2{
    padding: 0% 0.5% 0% 6%;
    text-align: center;
    margin: 0px;
}

#footer{
    color: #20383f;
    height: 100%;
    background-image: url(../img/footer.png);
    padding: 0.25px 0.25px 0.25px 380px;
}
#footer h3{
    margin: 0px;
    padding: 9px;
}